@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: theme(colors.border);
  }

  *::selection {
    background-color: theme(colors.muted.foreground);
    color: theme(colors.background);
  }

  body {
    background-color: theme(colors.background);
    color: theme(colors.foreground);
  }
}

@layer base {
  /* Firefox */
  * {
    scrollbar-color: theme(colors.secondary.foreground)
      theme(colors.secondary.DEFAULT);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: theme(width[1.5]);
  }

  *::-webkit-scrollbar-track {
    background-color: theme(colors.secondary.DEFAULT);
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme(colors.secondary.foreground);
    border-radius: theme(borderRadius.full);

    &:hover {
      background-color: theme(colors.secondary.DEFAULT);
    }
  }
}
